  <!--breadcrumbs-->
<div class="breadcrumb-agile">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
      </ol>
    </div>
  </div>
  <!--breadcrumbs-->
<div class="register">
    <div class="container"> <br> <hr>
      <h2>Order Summary</h2> <hr>
      <Strong>Thanks </Strong> for shopping on our website. Your order number is {{orderno}}.
  </div>
  </div>
