<div class="container">
  <ul>
    <li><a class="active" routerLink="/adminpanel">Home</a></li>
    <li><a routerLink="/managecat">Manage Categories</a></li>
    <li><a routerLink="/managesubcat">Manage Sub-categories</a></li>
    <li><a routerLink="/manageproducts">Manage Product</a></li>
    <li><a routerLink="/searchuser">Search User</a></li>
    <li><a routerLink="/allusers">All Users</a></li>
    <li><a [routerLink]="['/allordersbyadmin']" routerLinkActive="router-link-active"> All Orders</a> </li>

    <li><a routerLink="/contactusmessages">Messages</a></li>
  </ul>
</div>
